@import url(../../index.css);

.navbar {
    max-height: 81px;
    height: 91px;
    background: #21222A;
    display: flex;
    padding: 10px;
    font-family: var(--font1);
    color: var(--gui05);
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0;
    align-items: center;
}

.navbar h1 {
    color: var(--gui0D);
    font-family: var(--font2);
    font-weight: 700;
    font-size: 1.641rem;
}

.navbar h1 svg {
    color: var(--gui09);

}

.navbar h2 {
    color: var(--gui09);
    font-size: 1rem;
}