:root {
    --gui00: #20202A;
    --gui01: #2C2E3E;
    --gui05: #63718b;
    --gui06: #313449;
    --gui08: #EBB9B9;
    --gui09: #E8CCA7;
    --gui0D: #CDDBF9;

    --main-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--gui01);

}

code {
    font-family: var(--main-font)
}